.auth-page {
    margin-top: 20rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-page-title {
    font-family: var(--font-family);
    font-size: 1.8rem;
}

.auth-page-main {
    border-radius: 0.5rem;
    border: 1px solid gray;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.auth-page-mode>img {
    max-width: 3rem;
    max-height: 3rem;
}

.auth-page-mode {
    display: flex;
    font-family: var(--font-family);
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.auth-page-mode:hover {
    background: rgb(225, 225, 225);
    transition: all 0.1s ease-in-out;
}