.bet-page {
    background-color: var(--white);
}

.campaign-image {
    height: 16rem;
    overflow: hidden;
    position: relative;
}

.campaign-image>img {
    object-fit: cover;
    margin-top: -40%;
    filter: blur(4px);
}

.bet-page-bouton-retour {
    /* border: 1px solid black; */
    z-index: 100;

    position: absolute;
    top: 2rem;
    left: 2rem;
    margin-bottom: -4.8rem;
}

.bet-infos {
    display: flex;
    margin-top: -3.5rem;

    /* border: 1px solid black; */
}

.bet-infos-title {
    display: flex;
    position: relative;
    margin-left: 5rem;
    color: var(--white);
    align-items: center;
    font-size: 2.9rem;
    font-weight: 700;
    font-family: var(--font-family);
    gap: 1rem;

    /* border: 1px solid black; */
}

.bet-infos-title>img {
    /* max-width: 5rem;
    max-height: 5rem; */
    position: relative;
    width: 3rem;
    height: 3rem;

    /* border: 1px solid black; */
}

.bet-infos-container {
    display: flex;
    flex-direction: column;

    /* border: 1px solid black; */
}

.bet-desc {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 1px solid black; */
}

.bet-desc>p {
    max-width: 70%;
    font-size: 1.625rem;
    font-family: var(--font-family);
    text-align: center;
    color: var(--color-secondary);
    margin-top: 6.5rem;
}

.campaign-prizes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* width: 100%; */
    margin-top: 8rem;
    padding: 1.5rem 3rem;

    background: var(--black-05);
}

.campaign-prizes-left,
.campaign-prizes-right {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--color-secondary);
    text-align: center;
    font-family: var(--font-family);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    gap: 1rem;

    transition: all 0.1s ease-in-out;

    /* border: 1px solid black; */
}

.bet-page__logo-csleague {
    width: 4rem;
}

.campaign-prizes-left img,
.campaign-prizes-right img {
    height: 4rem;
}

.campaign-prizes-left:hover,
.campaign-prizes-right:hover {
    transform: scale(1.05);
}

.a-vos-marques {
    margin-top: 8rem;

    color: var(--color-primary);
    text-align: center;
    font-family: var(--font-family);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.choices-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    /* margin-top: 8rem;
    margin-bottom: 8rem; */
    gap: 1rem;

    padding: 8rem 0rem;
}

.bet-page__order-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 1rem;
    margin-bottom: 8rem;
}

@media screen and (max-width:1024px) {
    .choices-container {
        gap: 0.5rem;
    }
}

@media screen and (max-width:768px) {
    .bet-infos-title {
        margin-left: 2rem;
        top: 1.25rem;
        gap: 0.5rem;

    }

    .bet-infos-title>p {
        font-size: 1.75rem;
    }

    .bet-infos-title>img {
        top: 0rem;
        height: 1.5rem;
        width: 1.5rem;
    }

    .bet-desc>p {
        font-size: 1.25rem;
    }

    .campaign-prizes-left,
    .campaign-prizes-right {
        font-size: 1rem;
        gap: 0.2rem;
    }

    .campaign-prizes-left img,
    .campaign-prizes-right img,
    .bet-page__logo-csleague {
        height: 2.25rem;
    }

    .campaign-prizes-left:hover,
    .campaign-prizes-right:hover {
        transform: scale(1);
    }

    .a-vos-marques {
        font-size: 1.6rem;
        margin-top: 6rem;
    }

    .choices-container {
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width:580px) {

    .campaign-prizes-left,
    .campaign-prizes-right {
        font-size: 0.8rem;
        gap: 0.2rem;
    }

    .campaign-prizes-left img,
    .campaign-prizes-right img,
    .campaign-page__logo-csleague {
        height: 2rem;
    }

    .campaign-prizes {
        padding: 1.5rem 1rem;
    }
}

@media screen and (max-width:550px) {
    .bet-infos-title {
        margin-left: 2rem;
        top: 1.5rem;
        gap: 0.5rem;
    }

    .bet-infos-title>p {
        font-size: 1.25rem;
    }

    .bet-infos-title>img {
        top: 0rem;
        height: 1.25rem;
        width: 1.25rem;
    }
}

@media screen and (max-width:500px) {

    .campaign-prizes-left,
    .campaign-prizes-right {
        gap: 0.1rem;
    }
}

@media screen and (max-width:425px) {
    .bet-infos-title {
        margin-left: 1rem;
        top: 1.75rem;
        gap: 0.2rem;
    }

    .bet-infos-title>p {
        font-size: 1rem;
    }

    .bet-infos-title>img {
        top: 0rem;
        height: 1rem;
        width: 1rem;
    }

    .bet-desc>p {
        max-width: 90%;
    }

    .campaign-prizes-left,
    .campaign-prizes-right {
        font-size: 0rem;
        gap: 0.2rem;
    }

    .campaign-infos-title {
        top: 0.5rem;
        margin-left: 3rem;
        font-size: 2rem;
        gap: 0.5rem;
    }

    .campaign-infos-title>img {
        width: 2rem;
        height: 2rem;
    }

    .a-vos-marques {
        font-size: 1.2rem;
    }

    .choices-container {
        padding: 6rem 0rem;
    }
}

@media screen and (max-width:320px) {
    .campaign-prizes {
        padding: 1rem 0.5rem;
    }

    .campaign-infos-title {
        margin-left: 1.5rem;
    }
}

.pari-pris {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.bet-cancel {
    width: 100%;
    display: flex;
    justify-content: center;
}